@font-face {
  font-family: 'Duru Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Duru Sans'), local('DuruSans-Regular'), url(http://fonts.gstatic.com/s/durusans/v8/0rnIdjSQWlqFS5KpKzVfzj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(http://fonts.gstatic.com/s/quantico/v5/RC4TVDxn85RHKNRvpYMc9PesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  src: local('Telex-Regular'), url(http://fonts.gstatic.com/s/telex/v4/QBUn5F7b-9Ulki7K75J1Bw.woff) format('woff');
}
