
/* Main portfolio page style sheet */

 article,aside,details,figcaption,figure,footer,header,hgroup,
 main,nav,section,summary{display:block}audio,canvas,video
 {display:inline-block}audio:not([controls])
 {display:none;height:0}
 [hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%}body{margin:0}
 a{background:transparent}
 a:focus{outline:thin dotted}
 a:active,a:hover{outline:0}
 h1{font-size:2em;margin:.67em 0}
 abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}
 hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
 mark{background:#ff0;color:#000}
 code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
 pre{white-space:pre-wrap}
 q{quotes:"\201C" "\201D" "\2018" "\2019"}
 small{font-size:80%}
 sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
 sup{top:-0.5em}
 sub{bottom:-0.25em}
 img{border:0}svg:not(:root){overflow:hidden}
 figure{margin:0}
 fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
 legend{border:0;padding:0}
 button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
 button,input{line-height:normal}
 button,select{text-transform:none}
 button,html input[type="button"],input[type="reset"],input[type="submit"]
 {-webkit-appearance:button;cursor:pointer}
 button[disabled],html input[disabled]{cursor:default}
 input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
 input[type="search"]
 {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
 input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
 button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
 textarea{overflow:auto;vertical-align:top}
 table{border-collapse:collapse;border-spacing:0}
 *{margin:0;padding:0;text-overflow:ellipsis}
 body *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}[class]
 {overflow:hidden;list-style:none;padding:0}
 html{height:100%;background:#fff}
 body{overflow:visible!important;min-height:100%;height:100%;color:#000;font:16px/1.8 'Telex','Arial','Helvetica',sans-serif}*+p,*+dl,*+h1,*+h2,*+h3,*+h4,*+h5,*+h6,*+ol,*+ul,*+figure{margin-top:18px}
 ol,ul{margin-left:0;padding-left:40px}
 li ol,li ul{margin-top:0;margin-bottom:0}
 h1,h2,h3,h4,h5,h6{font-size:38px;font-weight:400;font-family:'Telex','Arial','Helvetica',sans-serif}
 dt{font-weight:700}
 table{overflow:visible!important}input,button,select,textarea{vertical-align:middle;outline:none}
 textarea[class]{overflow:auto}button,select,label[for],input[type="reset"],input[type="radio"],input[type="button"],input[type="submit"],input[type="checkbox"]
 {cursor:pointer}a,a:focus,a:hover{outline:none}
 
 a{
 	color:#7d7d7b;
 	text-decoration:none;
 	cursor:pointer;
 	-webkit-transition:-webkit-transform .5s,all .5s;
 	-moz-transition:-moz-transform .5s,all .5s;
 	transition:transform .5s,all .5s
 }

 a:hover{text-decoration:none;-webkit-transition:-webkit-transform .5s,all .5s;
 -moz-transition:-moz-transform .5s,all .5s;
 transition:transform .5s,all .5s}
 img{display:inline-block;vertical-align:middle}
 html.no-scroll{overflow:hidden!important}
 input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#b7b7b7}
 input:-moz-placeholder,textarea:-moz-placeholder{color:#b7b7b7}
 input{width:100%;height:50px;padding:0 2px;border:0;border-bottom:1px solid #a5a5a5;color:#000;border-radius:0;font-size:15px;line-height:50px;vertical-align:middle}
 textarea{width:100%;height:110px;resize:none;padding:5px 2px;border:0;border-bottom:1px solid #a5a5a5;color:#000;border-radius:0;font-size:15px}
 input:focus,textarea:focus{border-bottom-color:#000}
 p.error input,p.error textarea{border-bottom-color:#f43636}
 ul.errorlist{margin-top:12px;color:#f2724b;font-size:13px}


 a[class^="icon-"]:hover,a[class*=" icon-"]:hover{color:#545454}
 .icon-icon1:before{content:"\e600"}
 .icon-icon2:before{content:"\e601"}
 .icon-icon3:before{content:"\e602"}
 .icon-icon4:before{content:"\e603"}
 .icon-icon5:before{content:"\e606"}
 .icon-behance:before{content:"\e604"}

 .icon-logo_plain:before{content:"\e60b"}
 .icon-menu:before{content:"\e607"}
 .icon-drag:before{content:"\e60c"}
 .icon-back:before{content:"\e60a"}
 .icon-arrow_left:before{content:"\e608"}
 .icon-arrow_right:before{content:"\e609"}
 header{z-index:4;
 position:fixed;
 top:0;
 left:0;
 width:135px;
 height:100%;
 background:#fff;
 box-shadow:1px 2px 6px 0 rgba(0,0,0,.25);
 transition:width 1s ease}

 header p.logo{overflow:visible;position:absolute;top:50%;left:50%;width:95px;height:98px;margin-left:-48px;margin-top:-47px;
 
 }
 
 header p.logo a{
 	font-size:25px;
 }
 header p.social{overflow:visible;position:absolute;bottom:33px;left:50%;width:29px;height:17px;margin-left:-15px}
 header p.social a{font-size:17px;color:#a4a5a5}
 header p.social a:hover{color:#000}
 header p.collapse{overflow:visible;position:absolute;top:33px;left:50%;width:34px;height:25px;margin-left:-17px}
 header p.collapse a{font-size:25px;color:#a4a5a5}
 header p.collapse a:hover{color:#000}
 header nav{position:absolute;top:117px;left:0;opacity:0;width:100%;font-size:15px;text-transform:uppercase;transition:all .5s ease}
 header nav ul{list-style:none;padding-left:0;text-align:center}
 header nav ul li{line-height:78px}
 header nav ul a{color:#a5a5a5}
 header nav ul a.active,header nav ul a:hover{color:#000}
 header nav ul a.active::before,header nav ul a.active::after{opacity:1;-webkit-transform:translateX(0px);-moz-transform:translateX(0px);transform:translateX(0px)}
 header nav ul a::before,header nav ul a::after{display:inline-block;opacity:0;-webkit-transition:-webkit-transform .5s,opacity .4s;-moz-transition:-moz-transform .5s,opacity .2s;transition:transform .5s,opacity .2s}
 header nav ul a::before{margin-right:20px;content:'[';-webkit-transform:translateX(20px);-moz-transform:translateX(20px);transform:translateX(20px)}
 header nav ul a::after{margin-left:20px;content:']';-webkit-transform:translateX(-20px);-moz-transform:translateX(-20px);transform:translateX(-20px)}
 header nav ul a:hover::before,header nav ul a:hover::after,header nav ul a:focus::before,header nav ul a:focus::after{opacity:1;-webkit-transform:translateX(0px);-moz-transform:translateX(0px);transform:translateX(0px)}
 .page{padding-left:130px}
 #projects ul{overflow:hidden;list-style:none;width:100%;height:100%;margin-bottom:-.3%;padding-left:0}
 #projects ul li{position:relative;overflow:hidden;float:left;width:33%;margin-left:.3%;margin-bottom:.3%}
 #projects ul li a{display:block;text-align:center}
 #projects ul li img{position:relative;display:block;width:100%;height:100%}
 #projects ul li img+img{display:none}
 #projects ul li.wide img{display:none}
 #projects ul li.wide img+img{display:block}
 #projects ul li.entire{width:100%}
 #projects ul li.entire img{display:none}
 #projects ul li.entire img+img+img{display:block}
 
 #projects ul li a span{
 	position:absolute;
 	top:50%;left:50%;
 	display:none;
 	width:134px;
 	height:39px;
 	margin-left:-67px;
 	margin-top:-20px;
 	background:transparent url("project_more.png") no-repeat 0 0; /* project_more.png */
 	text-indent:-999em}

 body.wide #projects ul li.wide{width:66%}
 #map{position:relative;float:left;width:50%;height:100%}
 #contact{height:100%}
 #contact .form{overflow:auto!important;
 float:left;width:50%;height:100%;padding-top:85px}
 #contact .form form{width:60%;margin:0 auto;padding-top:45px;padding-bottom:85px}
 #contact .form form p{padding-top:32px}
 #contact .form.form-sent{padding-top:20%}
 #contact .form.form-sent p{padding-bottom:10%}
 #contact p.submit{text-align:center}
 #contact p.submit input{width:auto;height:auto;padding:10px 64px;color:#a5a5a5;border:3px solid #a5a5a5;background:#fff;font-size:20px;text-align:center;text-transform:uppercase;line-height:normal}
 #contact p.submit input:hover,#contact p.submit input:focus{color:#000;border-color:#000}
 #contact textarea,#contact textarea:hover,#contact textarea:focus,#contact input,#contact input:hover,#contact input:focus{-webkit-transition:-webkit-transform .5s,all .5s;-moz-transition:-moz-transform .5s,all .5s;transition:transform .5s,all .5s}
 #contact h2{font-size:40px;text-align:center;text-transform:uppercase}
 #contact h2+p{margin-top:6px;font-size:21px;text-align:center;text-transform:uppercase}
 #contact p.social{padding-bottom:15px;text-align:center}
 #contact p.social a{display:inline-block;width:42px;height:24px;font-size:24px;color:#a4a5a5}
 #contact p.social a:hover{color:#000}
 #contact .marker{position:absolute;top:50%;left:0;width:100%;z-index:2;margin-top:-57px;text-transform:uppercase;text-align:center;font-size:19px}
 #contact .marker span{display:inline-block;height:54px;padding:0 21px;margin-bottom:3px;line-height:54px;background:#fff}
 #about .numbers{float:right;height:100%;margin-left:1px}
 #about .numbers ul{list-style:none;margin-bottom:-1px;padding:0}
 #about .numbers li{overflow:hidden;display:table;height:239px;margin-bottom:1px;text-transform:uppercase;line-height:25px}
 #about .numbers span{opacity:0;display:table-cell;width:270px;margin-right:1px;background:#fd6969;text-align:center;color:#fff;font-size:50px;vertical-align:middle}
 #about .numbers p{display:table-cell;width:270px;margin:0;background:#ededed;font-size:13px;text-align:center;vertical-align:middle}
 #about .numbers p strong{display:block;padding-bottom:4px;font-family:'Quantico','Arial','Helvetica',sans-serif;font-weight:400;font-size:67px;line-height:1}
 #about .numbers li+li span{font-size:65px;background:#68d4fb}
 #about .numbers li+li+li span{background:#db88e4}
 #about .numbers li+li+li+li span{background:#ffee78}
 #about .numbers li+li+li+li+li span{background:#68ef89}
 #about .responsive{height:600px}
 #about .responsive{position:relative}
 #about .responsive .devices{float:right;width:50%;height:100%;background:#fff}
 #about .responsive svg{width:100%;height:100%;pointer-events:none}
 #about .responsive #imac,#about .responsive #iphone{display:none}
 #about .responsive .line-drawing{-webkit-transition:opacity .5s;transition:opacity .5s}
 #about .responsive .line-drawing path{fill:none;stroke:#000;stroke-width:1}
 #about .responsive path.line-round{stroke-linecap:round}
 #about .responsive path.stroke-medium{stroke-width:2}
 #about .responsive path.stroke-thin{stroke-width:1}
 #about .responsive .drag{overflow:visible;position:absolute;top:0;left:50%;width:6px;height:100%;background:#fff;box-shadow:1px 2px 7px 0 rgba(0,0,0,0.23)}
 #about .responsive .drag .handle{position:absolute;top:50%;left:50%;width:16px;height:77px;margin-left:-8px;margin-top:-39px;background:#fff;color:#a5a5a5;cursor:col-resize;box-shadow:1px 2px 7px 0 rgba(0,0,0,0.23);font-size:15px;text-align:center;line-height:77px}
 #about .responsive .drag .handle+span{position:absolute;top:50%;left:15px;padding:0 10px;color:#fff;background:#000;font-size:14px;text-transform:uppercase;white-space:nowrap}
 #about .responsive .drag .handle+span em{color:#a5a5a5;font-style:normal}
 #about .info{height:599px;padding:90px 3%;background:#f8f8f8;border-top:1px solid #ededed;line-height:30px;text-align:center}
 #about .info h2{position:relative;padding-bottom:70px;font-size:32px;font-weight:400;text-transform:uppercase}
 #about .info h2:after{position:absolute;bottom:10px;left:50%;margin-left:-110px;content:"";width:220px;height:1px;background:#d3d3d3}
 #about .info p{padding:.8em 10%;color:#5b5b5b;font-family:'Duru Sans','Arial','Helvetica',sans-serif;font-size:14px}
 body.home{overflow:hidden!important}
 body.home header{width:100%;height:190px}
 body.home>header{display:none}
 #homepage{padding-left:0!important;width:100%}
 #homepage header,#homepage header:hover{transition:none}
 #homepage p.background{overflow:visible;width:1920px;margin-top:0;position:relative;left:50%}
 #homepage p.background img{position:relative;left:-50%}
 #homepage .welcome{z-index:3;position:absolute;top:50%;left:0;width:100%;text-align:center}
 #homepage p.button{padding-top:120px;font-size:20px;opacity:1}
 #homepage p.button a{display:inline-block;padding:8px 29px;color:#a5a5a5;border:3px solid #a5a5a5;text-transform:uppercase}
 #homepage p.button a:focus,#homepage p.button a:hover{color:#fff;border-color:#fff}
 #homepage h1{margin:0 0 0 27px;color:#fff;text-align:center;font-size:47px;opacity:.3;text-transform:uppercase;letter-spacing:45px}
 header p.badges{display:none;position:absolute;right:0;top:50%;margin-top:-60px;text-align:right}
 header p.badges a{display:block;padding-bottom:25px;font-size:16px!important}
 header p.badges a img{max-height:105px}
 body.home p.badges{display:block}
 #project{position:absolute;top:0;left:0;width:100%}
 #project .header{z-index:1;position:fixed;top:0;right:0;width:68px;box-shadow:1px 2px 6px 0 rgba(0,0,0,.25);text-align:center}
 #project .header a{display:block;width:68px;height:50px;font-size:15px;text-align:center;line-height:50px;color:#a5a5a5}
 #project .header a.icon-arrow_left,#project .header a.icon-arrow_right{font-size:17px}
 #project .header a:hover{color:#000}
 #project .header p{background:#fff}
 #project div.container{display:block;width:100%;margin-top:0;padding-left:0;text-align:center}
 #project div.container p{overflow:visible;float:left;position:relative;left:50%;margin-top:0;clear:left}
 #project div.container p img{position:relative;left:-50%}
 #project div.container .incentive{position:fixed;left:50%;bottom:50px;padding-left:70px}
 #project div.container .incentive img{width:40px;height:50px}
 body.hide-incentive #project div.container .incentive{display:none}
 body.not-found{overflow:hidden!important}
 body.not-found header{left:90%}
 #not-found{position:relative;float:left;width:90%;height:100%;background:transparent url('../images/not_found.jpg') no-repeat 0 0}
 #not-found h1{position:absolute;top:80px;right:80px;margin:0;padding:20px 35px;color:rgba(0,0,0,.8);background:rgba(237,237,237,.45);font-size:70px;text-transform:uppercase;text-align:center;line-height:1}
 #not-found h1 em{font-style:normal;font-size:95px}
 #not-found h1 span{display:block;font-size:119px}
 #not-found .drag{overflow:visible;z-index:5;position:absolute;top:0;left:100%;width:6px;height:100%;margin:0;background:#fff;box-shadow:1px 2px 7px 0 rgba(0,0,0,0.23)}
 #not-found .drag .handle{position:absolute;top:50%;left:50%;width:16px;height:77px;margin-left:-8px;margin-top:-39px;background:#fff;color:#a5a5a5;cursor:col-resize;box-shadow:1px 2px 7px 0 rgba(0,0,0,0.23);font-size:15px;text-align:center;line-height:77px}
 #not-found .drag .handle+span{position:absolute;top:50%;left:-155px;padding:0 10px;opacity:0;color:#fff;background:#000;font-size:14px;text-transform:uppercase;white-space:nowrap}
 #not-found+#projects{left:90%;position:absolute;width:100%}
 #not-found+#projects+div.mask{left:90%;z-index:4;position:absolute;width:100%;height:100%}
 #map .gmnoprint{overflow:visible!important}@media(min-width:1025px){header:hover{width:215px;transition:width .5s ease}
 header:hover nav{opacity:1;transition:opacity .7s ease}
 header:hover p.collapse a{color:#000}}@media(max-width:1150px){#homepage h1{font-size:45px;letter-spacing:40px}}@media(max-width:1100px){#project img{width:100%}#project img.wide{width:150%;margin-left:-25%}}@media(max-width:1024px){header{width:85px}
 header p.logo{text-align:center}
 header p.logo a{font-size:58px}
 body.home header a{font-size:10px} /* font size of name logo*/
 .page{padding-left:80px}
 #projects ul{margin-bottom:0}
 #projects ul li{width:100%;margin-left:0}
 body.wide #projects ul li.wide{width:100%}
 #projects ul li img{display:none}
 #projects ul li img+img{display:block}
 #projects ul li.entire img+img{display:block}
 #projects ul li.entire img+img+img{display:none}
 #project div.container .incentive{padding-left:40px}
 #about,#about .info{overflow:auto;height:100%}
 #about .left{float:left;width:100%;height:100%}
 #about .numbers{width:100%;height:215px}
 #about .numbers span{display:block;width:99%;height:107px;line-height:107px;font-size:45px}
 #about .numbers p{display:block;width:99%;height:107px;margin-top:1%;padding-top:15px;font-size:11px;line-height:16px}
 #about .numbers p strong{font-size:38px}
 #about .numbers li{float:left;display:list-item;width:20%;height:100%}
 #about .responsive{display:none}
 header nav a{display:none}
 header.opened{overflow:visible}
 header.opened{width:215px;transition:width .5s ease}
 header.opened nav{opacity:1;transition:opacity .7s ease}
 header.opened nav a{display:inline}
 header.opened p.collapse a{color:#000}
 body.not-found header{left:85%}
 #not-found{width:85%}
 #not-found+#projects{left:85%}
 #not-found+#projects+div.mask{left:85%}}@media(max-width:1024px) and (orientation:landscape){#contact .form{padding-top:45px}
 #contact .form form{padding-top:35px;padding-bottom:45px}
 #contact .form form p{padding-top:20px}
 #contact h2{font-size:30px}
 #contact p{font-size:20px}}@media(max-width:1024px) and (orientation:portrait){#contact{height:auto}
 #contact #map{float:none;width:100%;height:200px}
 #contact .form{float:none;width:100%;height:auto}
 #homepage .welcome{top:40%}}@media(max-width:780px){#about .numbers{display:none}}@media(max-height:740px){body header nav ul li{line-height:60px}
 body header p.logo{top:60%}}@media(max-height:655px){body header nav ul li{line-height:40px}}@media(max-width:568px){header{width:100%;height:65px}
 header p.logo{
 width:auto;
 height:auto;
 top:50%!important;
 margin-left:-12px;
 margin-top:-21px}
 header p.logo a{font-size:48px}
 header p.logo a:before{content:"\e60b"} 

 header p.social{left:auto;bottom:auto;top:50%;right:35px;margin-left:0;margin-top:-9px}
 header p.collapse{left:35px;top:50%;margin-top:-12px}
 header:hover{width:100%}header:hover nav{opacity:0}
 header p.collapse a{color:#a4a5a5!important}
 header.opened{overflow:visible}
 header.opened nav{opacity:1;width:50%;top:64px;padding:20px 0;background:#fff;box-shadow:1px 2px 6px 0 rgba(0,0,0,.25)}
 header.opened p.collapse a{color:#000!important}
 header p.badges{margin-top:-20px}
 header p.badges a img{max-height:60px}
 .page{padding-left:0;padding-top:60px}
 #projects ul li img,#projects ul li.wide img,#projects ul li.entire img{display:block}
 #projects ul li img+img,#projects ul li.wide img+img,#projects ul li.entire img+img{display:none}
 #project .header{top:85px}
 #project div.container .incentive{padding-left:0}
 #contact{height:auto}#contact #map{display:none}
 #contact .form{float:none;width:100%;height:auto}
 #contact .form{padding-top:45px}
 #contact .form form{width:80%;padding-top:35px;padding-bottom:25px}
 #contact .form form p{padding-top:15px}
 #contact h2{font-size:23px}
 #contact p{font-size:15px}
 #homepage{padding-top:0}
 body.home header{height:65px}
 #homepage h1{font-size:22px}
 #homepage p.button{padding-top:60px}
 #homepage p.background{top:-150px}
 #not-found h1{top:40px;right:40px;font-size:35px}
 #not-found h1 em{font-size:47px}
 #not-found h1 span{font-size:60px}}@media(max-width:568px) and (orientation:landscape){#projects ul li img,#projects ul li.wide img{display:none}
 #projects ul li img+img,#projects ul li.wide img+img{display:block}
 #homepage p.background{height:100%}
 #homepage h1{display:none}
 #homepage .welcome{top:15%}
 #not-found h1{right:180px}}