<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title> Web Templates </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/screen.css">
	<link rel="stylesheet" href="css/lightbox.css">

</head>
<body>
	<!-- web templates section here -->

	<section id="examples" class="examples-section">

		<div class="container">
			
			<h3 style="clear: both;"> Web Templates </h3>

				<div class="image-row">

					<div class="image-set">  
					<a class="example-image-link" href="img/Artclass.png" data-lightbox="example-set" data-title="press the right arrow on your keyboard."><img class="example-image" src="img/1.jpg" alt="" /></a>

					<a class="example-image-link" href="img/computerrepair.png" data-lightbox="example-set" data-title="Air Force"><img class="example-image" src="img/2.jpg" alt="" /></a>

					<a class="example-image-link" href="img/creditcard.png" data-lightbox="example-set" data-title="Android"><img class="example-image" src="img/3.jpg" alt="" /></a>

					<a class="example-image-link" href="img/Esate.png" data-lightbox="example-set" data-title="Aventis Pharma"><img class="example-image" src="img/4.jpg" alt=""/></a>

					<a class="example-image-link" href="img/Modelportfolio.png" data-lightbox="example-set" data-title="Book-My-Show"><img class="example-image" src="img/5.jpg" alt=""/></a>

					<a class="example-image-link" href="img/moneybizz.png" data-lightbox="example-set" data-title="Design For Screen"><img class="example-image" src="img/6.jpg" alt=""/></a>

					<a class="example-image-link" href="img/outdoor-Recovered.png" data-lightbox="example-set" data-title="Google"><img class="example-image" src="img/7.jpg" alt=""/></a>

					<a class="example-image-link" href="img/Responsiveweb.png" data-lightbox="example-set" data-title="DSk Home"><img class="example-image" src="img/8.jpg" alt=""/></a>

					<a class="example-image-link" href="img/weddingsite.png" data-lightbox="example-set" data-title="Apollo"><img class="example-image" src="img/9.jpg" alt=""/></a>

					<a class="example-image-link" href="img/windows8-mobileview.png" data-lightbox="example-set" data-title="IAHA"><img class="example-image" src="img/10.jpg" alt=""/></a>
			<!--		
					<a class="example-image-link" href="img/11.jpg" data-lightbox="example-set" data-title="Marvel Group"><img class="example-image" src="img/11.jpg" alt=""/></a>

					<a class="example-image-link" href="img/12.jpg" data-lightbox="example-set" data-title="Master Card"><img class="example-image" src="img/12.jpg" alt=""/></a>

					<a class="example-image-link" href="img/13.jpg" data-lightbox="example-set" data-title="My-Cam"><img class="example-image" src="img/13.jpg" alt=""/></a>

					<a class="example-image-link" href="img/14.jpg" data-lightbox="example-set" data-title="Orange Media"><img class="example-image" src="img/14.jpg" alt=""/></a>

					<a class="example-image-link" href="img/15.jpg" data-lightbox="example-set" data-title="Pixar"><img class="example-image" src="img/15.jpg" alt=""/></a>

					<a class="example-image-link" href="img/16.jpg" data-lightbox="example-set" data-title="SBI"><img class="example-image" src="img/16.jpg" alt=""/></a>

					<a class="example-image-link" href="img/17.jpg" data-lightbox="example-set" data-title="Rutu Flims"><img class="example-image" src="img/17.jpg" alt=""/></a>

					<a class="example-image-link" href="img/18.jpg" data-lightbox="example-set" data-title="TATA DOCOMO"><img class="example-image" src="img/18.jpg" alt=""/></a>

					<a class="example-image-link" href="img/19.jpg" data-lightbox="example-set" data-title="Net Connect"><img class="example-image" src="img/19.jpg" alt=""/></a>

					<a class="example-image-link" href="img/20.jpg" data-lightbox="example-set" data-title="Groupe"><img class="example-image" src="img/20.jpg" alt=""/></a>
			-->

				</div>
			</div>
		</div>
	</section>
	
	<!-- web Emailer section here -->

	<section id="examples" class="examples-section">
		
		<div class="container">
		
			<h3 style="clear: both;"> Emailer </h3>
		
				<div class="image-row">
		
					<div class="image-set">
			
					<a class="example-image-link" href="img/HDFC-bank-newsletter.png" data-lightbox="example-set" data-title="HDFC Bank Emailer"><img class="example-image" src="img/email3.png" alt="" /></a>

					<a class="example-image-link" href="img/holidaysoffer.jpg" data-lightbox="example-set" data-title="Holiday-Offer"><img class="example-image" src="img/email1.png" alt="" /></a>

					<a class="example-image-link" href="img/SMU-News-latter.jpg" data-lightbox="example-set" data-title="News-latter"><img class="example-image" src="img/email2.png" alt="" /></a>

					<a class="example-image-link" href="img/mytab.jpg" data-lightbox="example-set" data-title="Aventis Pharma"><img class="example-image" src="img/tab.png" alt=""/></a>

					<a class="example-image-link" href="img/preview.png" data-lightbox="example-set" data-title="Book-My-Show"><img class="example-image" src="img/preview.png" alt=""/></a>
		
				</div>
			</div>
		</div>
	</section>	
	
	<!-- web Adds section here -->

	<section id="examples" class="examples-section">
		
		<div class="container">
				
			<h3 style="clear: both;"> Brand Adds </h3>
					
				<div class="image-row">
						
					<div class="image-set">
						
					<a class="example-image-link" href="img/fashio-add.png" data-lightbox="example-set" data-title="fashion"><img class="example-image" src="img/add1.png" alt="" /></a>

					<a class="example-image-link" href="img/fashionweeak.png" data-lightbox="example-set" data-title="fashion"><img class="example-image" src="img/add2.png" alt="" /></a>

					<a class="example-image-link" href="img/FlashbannerDesign.png" data-lightbox="example-set" data-title="Banner"><img class="example-image" src="img/add3.png" alt="" /></a>

					<a class="example-image-link" href="img/Nri.jpg" data-lightbox="example-set" data-title="Nri Fashion"><img class="example-image" src="img/add4.png" alt=""/></a>

					<a class="example-image-link" href="img/Seobanner.png" data-lightbox="example-set" data-title="SEO Add"><img class="example-image" src="img/add5.png" alt=""/></a>
				</div>
			</div>
		</div>
	</section>	<!-- Entire Light Box Section End Here -->

		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/lightbox.js"></script>

</body>
</html>
